body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'determination_sans_webregular', Arial, sans-serif;
}

#character-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  flex-direction: column;
  background-color: black;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 300px;
  margin: 5px;
}
  
.card h2 {
  /* text-align: center; */
  font-size: 34px;
  margin-top: 0;
}
  
.card p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
  
.card h3 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 50px;
}

.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.card ul li {
  font-size: 18px;
  margin-bottom: 10px;
}



/* NAVBAR */
.undertale-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1d1d;
  margin-bottom: 20px;
}

/* Style the navbar */
.undertale-navbar .logo {
  padding: 10px;
  color: #fff;
  font-family: 'determinationsansregular', Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.undertale-navbar .logo img {
  width: 300px;
  height: auto;
}

.undertale-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.undertale-navbar ul li {
  margin: 2px;
  border: 2px solid white; /* Add a white border */

}

.undertale-navbar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'determination_sans_webregular', Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.undertale-navbar ul li a:hover {
  background-color: #333;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}